<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- ================== Begin: Estilos CSS Base ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/assets/css/default/app.min.css" rel="stylesheet">
    <!-- ================== End: Estilos CSS Base ================== -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>
<body class="pace-top">
    <div>
        @RenderBody()
    </div>



    <script src="~/assets/js/jquery-3.5.1.min.js"></script>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/theme/default.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</body>
</html>
