
@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item active">Acerca De</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">ACERCA DE <small>Sistema Intranet Colegio Privado</small></h1>
    <!-- end page-header -->

    <div class="container">
        <!-- begin row -->
        <div class="row">
            <div class="col-12 text-center ">
                <h2>Colegio Privado SIGMA  - "La enseñanza nunca se detiene"</h2>
                <h4>Sistema Intranet Colegio "SIGMA" </h4>
                <p class="f-s-18">
                    Sistema Web desarrollado con el fin de gestionar las actividades académicas 
                    escolares y fortalecer el aprendizaje de los alumnos.<br>
                    <b>Version:</b> 1.0 <br>
                    <b>Fecha de Lanzamiento:</b> 16/06/2021<br>
                    <b>Contacto:</b> sigmaschool@sigma.edu.pe
                </p>
                <img src="~/assets/img/login-bg/colegioprivado2.jpg" alt="" class="width-full height-400">
            </div>

        </div>
        <!-- end row -->
    </div>


</div>
<!-- end #content -->
