
@{
    ViewBag.Title = "ConsultaDocente";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<!-- begin #content Contenido Principal-->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="pagina_principal.jsp">Inicio</a></li>
        <li class="breadcrumb-item active">Consulta Docente</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Consulta Alumno - Docente <small></small></h1>
    <!-- end page-header -->

    <div class="container">
        <div class="row">
           
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-5">
                    <!-- inicio Mensajes-->
                    <div class="panel-heading">
                        <h4 class="panel-title">Consultas</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                    <!-- fin mensajes -->
                    <!-- cuerpo del panel-->
                    <div class="panel-body">
                        <table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
                            <thead>
                                <tr>
                                    <th width="1%"></th>
                                    <th class="text-nowrap">Nombre</th>
                                    <th class="text-nowrap">Consulta</th>
                                    <th class="text-nowrap">Responder</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Pedro</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>

                                </tr>
                                <tr class="even gradeC">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Juan</td>
                                    <td>Profesor el dia de ayer no pude entrar  a clase por motivos de la red</td>
                                    <td></td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Jose</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="even gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Maria</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Juana</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="even gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Hector</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Luis</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Sandra</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>

                                    <td>Tatiana</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Jhon</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Kath</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Pedro</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>
                                <tr class="gradeA">
                                    <td width="1%" class="f-s-600 text-inverse">1</td>
                                    <td>Pedro</td>
                                    <td>Profesor el dia de mañana hay clase?</td>
                                    <td></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>


                </div>

            </div>

        </div>




</div>
<!-- end #content Contenido Principal-->
