

@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<!-- begin #content Contenido Principal-->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
        <li class="breadcrumb-item active">Página Principal</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Colegio "Sigma" <small>Bienvenido(a) a la página principal</small></h1>
    <!-- end page-header -->
</div>
<!-- end #content Contenido Principal-->
