
@{
    ViewBag.Title = "UnauthorizedOperation";
    Layout = null;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Error, no tienes permiso
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-red">Error</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i>Sin autorización</h3>
            @if (ViewBag.acceso != "")
            {
                <p>Operación @ViewBag.acceso </p>
            }
         
            @if (ViewBag.msjeErrorExcepcion != "")
            {
                <p>@ViewBag.msjeErrorExcepcion</p>
            }
        </div>
    </div>
    <!-- /.error-page -->
</section>
